.diagram {
  background-color: #666;
  padding: 30px;
  text-align: center;
}

.rectangular-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #cdd1d3; /* TO BE FIXED! the container shouldn't be meant to have a color, see what happens if u remove it */
}

.yt-video {
  background-color: #cdd1d3;
  padding: 2%;
}

.text {
  background-color: #e1e9ee;
  padding: 2%;
}


/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 800px) {
  .rectangular-container {
    flex-wrap: wrap;
  }
}

/* CHART STYLES */

body { font: 12px Arial;}

path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #333;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 10;
	display: block;
	opacity: 0;
}

.title{
font-size:16px;
}
